*{
    box-sizing: border-box;
}

td {
    border: solid red 1px;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}
.message {
    display: none;
    position: relative;
    color: red;
}

