{% extends "base.html" %}

{% block title%} home {% endblock %}

{% block content %} 
<table>
{% for row in board %}
    <tr>

    {% for cell in row %}
        <td>{{cell}}</td>
    {% endfor %}

    </tr>
{% endfor %}
</table>
<br>
<form action="/valid_word" id="word_form">
    <input type="text" id="word-input">
    <button type="submit" id="submit">submit</button>
</form>
<ul>
    
</ul>
<p >
    current score: <span id=score-sec></span>
</p>
<p>
    highst score so far : {{ session["highScore"] }} <br>
    you played : {{ session["played"] }}
</p>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="../static/scripts/wordScripts.js"></script>
{% endblock %}